<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RCabinet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
<connectionStrings>
	 <add name="connectionString" connectionString="Data Source=172.19.18.81;Initial Catalog=ETSDB_Regina;Persist Security Info=True;User ID=sa;Password=Rm@123456;Pooling=False" providerName="System.Data.SqlClient"/>
	<add name="SHAConnectionString" connectionString="Data Source=172.19.18.58;Initial Catalog=SHADB;Persist Security Info=True;User ID=ros;Password=*123qwe*;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
		<add key="API_EPC_URI" value="https://ros.reginamiracle.com:82/api/RFID/SKUInfo"/>
		<add key="API_EPC_TOKEN" value="042bc319ce1a290bb2a3a7576f1e11b2b804770fbc3dd7783d1f27b900ce67f7"/>
		<add key="COMPORT" value="COM16"/>
		<add key="CYCLE_TIME" value="10"/>
		<add key="DEVICE_ID" value="Production"/>
		<add key="DEVICE_TYPE" value="Scan RFID"/>
		
		
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <RCabinet.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastDayReportSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWeekReportSaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastExcelReportSaveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBackupFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLogoutLength" serializeAs="String">
        <value>10</value>
      </setting>
    </RCabinet.Properties.Settings>
  </userSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>